<nav  *ngIf="!isLogin" class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Navbar brand -->
    <a class="navbar-brand me-2" [routerLink]="'/'">
      <img
        src="../../assets/Jarus-Logo.svg"
        height="16"
        alt="Jarus Logo"
        loading="lazy"
        style="margin-top: -1px; display: inline"
      />
    </a>

    <!-- Toggle button -->
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarButtonsExample"
      aria-controls="navbarButtonsExample"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarButtonsExample">
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'/'">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'/about'">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'/contact'">Contact Us</a>
        </li>
      </ul>
      <!-- Left links -->

      <div class="d-flex align-items-center">
        <button 
       (click)="Login()"
          class="btn me-3"
          style="background-color: #07617d; color: white"
          
        >
          Login
        </button>
      </div>
    </div>
    <!-- Collapsible wrapper -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->


<nav  *ngIf="isLogin" class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Navbar brand -->
    <a class="navbar-brand me-2" [routerLink]="'/'">
      <img
        src="../../assets/Jarus-Logo.svg"
        height="16"
        alt="Jarus Logo"
        loading="lazy"
        style="margin-top: -1px; display: inline"
      />
    </a>

    <!-- Toggle button -->
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarButtonsExample"
      aria-controls="navbarButtonsExample"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarButtonsExample">
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'/'">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'/create'">Create Quote</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'/'">Get Quotes</a>
        </li>
      </ul>
      <!-- Left links -->

      <div class="d-flex align-items-center">
        <button
          (click)="LogOut()"
          class="btn me-3"
          style="background-color: #07617d; color: white"
        >
          Logout
        </button>
      </div>
    </div>
    <!-- Collapsible wrapper -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->

