
<div class="cgl-head">
  <img src="../../assets/cglbackground.jpg" class="img-fluid" alt="" />
  <div class="cgl-text">
    <p class="h1 text-bold">COMMERCIAL GENERAL LIABILITY</p>
  </div>
</div>
<div class="d-flex justify-content-center">
  <a class="focus" href="/home/#introduction">INTRODUCTION</a>

  <a href="/home/#coverages">WHAT CAN BE COVERED</a>

  <a href="/home/#eligibility">WHO CAN TAKE CGL</a>
</div>
<div class="row container-fluid mt-5" id="introduction">
  <div class="col-lg-6 col-xs-8">
    <p class=" h2 text-bold p-5" style="color: #07617d">
      Comercial General Liability Insurance
    </p>
    <p class="px-5" style="color: #2e383f; font: 1.2em sans-serif;">
      In view of new dimensions of Legal Liability Exposures any Business can
      fall victim to the high cost of liability from simple slip and fall
      accidents to personal injury and reputation damage claims. Commercial
      General Liability (CGL) Policy covers third party liabilities arising from
      various business operations, be tt Premises, Products And Completed
      Operations and/or Advertising and Personal Injury.
    </p>
  </div>

  <img
    src="../../assets/intro-image.png"
    class="img-fluid col-lg-6 col-xs-8"
    alt=""
  />
</div>

<div id="coverages" class="container-fluid" style="background-color: #cdd5c7">
  <p class=" h2 p-5" style="color: #07617d">What can be Covered...</p>
  <div class="row justify-content-center">
    <br />
    <!-- <img src="../../assets/all-coverages.png" class="img-fluid" alt="" style="width: 60%;"/> -->
    <div
      class="card col-lg-3 col-md-8 mx-5 shadow p-3 mb-5 bg-white rounded"
      style="width: 18rem"
    >
      <img
        class="card-img-top"
        src="../../assets/bdy.png"
        alt="Card image cap"
      />
      <div class="card-body">
        <p class=" h6 card-title">Bodily Injury</p>
        <p class="card-text">
          The insurer pays off medical expenses for claims arising due to
          physical injuries,mental injuries,humilation and shock.
        </p>
      </div>
    </div>
    <div
      class="card col-lg-3 col-md-8 mx-5 shadow p-3 mb-5 bg-white rounded"
      style="width: 18rem"
    >
      <img
        class="card-img-top"
        src="../../assets/legal-liability.png"
        alt="Card image cap"
      />
      <div class="card-body">
        <p class=" h6 card-title">Legal Lawsuit</p>
        <p class="card-text">
          For claims arising due to the invasion of privacy, the insurer shall
          help you out wih the out-of-the court and legal settlement costs.
        </p>
      </div>
    </div>
    <div
      class="card col-lg-3 col-md-8 mx-5 shadow p-3 mb-5 bg-white rounded"
      style="width: 18rem"
    >
      <img
        class="card-img-top"
        src="../../assets/proprty.webp"
        alt="Card image cap"
      />
      <div class="card-body">
        <p class=" h6 card-title">Property Damage</p>
        <p class="card-text">
          Includes premisis damages and also compensates for third-party
          property expenses such as replacement,repair and renovation costs.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="row container-fluid mt-5" id="eligibility">
  <img
    src="../../assets/claimers.webp"
    class="img-fluid col-lg-6 mx-auto"
    alt=""
    style="height: 65vh; width: fit-content"
  />
  <div class="col-lg-6 col-xs-8">
    <p class=" h2 p-5" style="color: #07617d">
      Who needs Commercial General Liability Insurance
    </p>
    <p class="px-5" style="color: #2e383f;font: 1.2em sans-serif;">
      This policy is important for every small and medium sized businesses to
      protect the insured entity against claims arising out of legal liability
      where they are held responsible for third party bodily injury or property
      damage due to insured's business, premises or products. It should be taken
      by every new business as it covers all risk a business may face.
    </p>
  </div>
</div>
