<section class="my-5 container-fluid">
  <div>
    <div class="d-flex mx-5">
      <div
      class="mx-2"
      style="width: 5px; height: 50px; background-color: #f9a828"
    ></div>
      <div>
        <h1>Our Locations</h1>
      </div>
    </div>
  </div>
</section>
<section class="my-6">
  <div class="container">
    <div class="row">
      <div class="col">
        <h2>Jarus Technologies Inc.</h2>
        <div class="section-title-strip"></div>
      </div>
    </div>
    <div class="row row-cols-1">
      <div class="col-12">
        <div class="card map-card h-100">
          <div class="row g-0 justify-content-center align-items-center">
            <div class="col-md-7 col-xl-9 order-md-1">
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d759.3494227266444!2d-80.060577!3d40.422192!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xaff5a315eea17e91!2sJarus%20Technologies%20Inc!5e0!3m2!1sen!2sin!4v1672827034204!5m2!1sen!2sin"
                width="400"
                height="300"
                style="border: 0; width: 100%"
                allowfullscreen=""
                loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"
              ></iframe>
            </div>
            <div class="col-md-5 col-xl-3 order-md-0">
              <div
                class="card-body d-flex justify-content-center align-items-center"
              >
                <div>
                  <div class="card-text">
                    <address>
                      651 Holiday Drive, Suite 530<br />
                      Pittsburgh, PA 15220<br />
                      <br />
                      <abbr title="Phone">P:</abbr>
                      <a href="tel:4129225432">(412) 922-5432</a><br />
                      <abbr title="">T:</abbr> 877 WE-JARUS (877 935.2787)<br />
                      <abbr title="Fax">F:</abbr> 412.774.1720
                    </address>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="my-6">
  <div class="container mt-5">
    <div class="row row-cols-1">
      <div class="col">
        <div class="card map-card">
          <div class="card-body text-center p-4">
            <p class="mb-2 pt-4">
              <strong>For general information and sales inquiries</strong>
            </p>
            <p>
              Send email to
              <a href="mailto:sales@jarustech.com">sales@jarustech.com</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="my-6">
  <div class="container">
    <div class="row">
      <div class="col">
        <h2 class="mt-5">Jarus Technologies (India) Pvt. Ltd.</h2>
        <div class="section-title-strip"></div>
      </div>
    </div>
    <div class="row row-cols-1 g-4">
      <div class="col-12">
        <div class="card map-card h-100">
          <div class="row g-0 justify-content-center align-items-center">
            <div class="col-md-5 col-xl-3 order-md-0">
              <div
                class="card-body d-flex justify-content-center align-items-center"
              >
                <div>
                  <h3 class="card-title">Home Office</h3>
                  <div class="card-text">
                    <address>
                      11/B, Phase - 1, IDA Cherlapally<br />
                      ECIL, Hyderabad - 500051<br />
                      Telangana<br />
                      <br />
                      <abbr title="Phone">P:</abbr>
                      <a href="tel:04035034400">(+91) 40 35034400</a>
                    </address>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-7 col-xl-9 order-md-1">
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d475.744800216652!2d78.58752!3d17.461705!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xaaae24283eebef9a!2sJarus%20Technologies%20(India)%20Private%20Limited!5e0!3m2!1sen!2sin!4v1672827211145!5m2!1sen!2sin"
                width="400"
                height="300"
                style="border: 0; width: 100%"
                allowfullscreen=""
                loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"
              ></iframe>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <!--Section Divider-->
        <div class="py-6"></div>
      </div>
      <div class="col-12">
        <div class="card map-card">
          <div class="row g-0 justify-content-center align-items-center">
            <div class="col-md-5 col-xl-3 order-md-0">
              <div
                class="card-body d-flex justify-content-center align-items-center"
              >
                <div>
                  <h3 class="card-title">Branch Office</h3>
                  <div class="card-text">
                    <address>
                      Block A, 7th Floor <br />Divyasree Trinity <br />
                      Phase 4, Hi-Tech City Road<br />
                      Madhapur, Hyderabad - 500 081<br />
                      Telangana<br />
                      <br />
                      <abbr title="Phone">P:</abbr>
                      <a href="tel:04035034400">(+91) 40 35034400</a>
                    </address>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-7 col-xl-9 order-md-1">
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10766.077904787344!2d78.37732202691566!3d17.441356740850573!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb913eb11a903d%3A0xbd09b85f6880b52a!2sJarus%20Technologies%20India%20Pvt%20Ltd!5e0!3m2!1sen!2sin!4v1672831145223!5m2!1sen!2sin"
                width="400"
                height="300"
                style="border: 0; width: 100%"
                allowfullscreen=""
                loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"
              ></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="my-6">
  <div class="container mt-5">
    <div class="row row-cols-1">
      <div class="col">
        <div class="card map-card">
          <div class="card-body text-center p-4">
            <p class="mb-2 pt-4">
              <strong>For HR information and queries</strong>
            </p>
            <p>
              Send email to
              <a href="mailto:hr@jarustech.com">hr@jarustech.com</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
